.admin-layout{
    display: flex;
}

.admin-layout aside{
    background-color: #333;
    height: 100vh;
    width: 20%;
    color: #fff;
}

.admin-layout main{
    width: 80%;
}

.admin-layout aside ul{ 
    list-style: none;
    margin-top: 5rem;
}

.admin-layout aside ul li{ 
    padding: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

.admin-layout aside ul li a{ 
    color: #fff;
}

.admin-layout main{
    padding: 25px;
}

table td, table th{
    text-align: center;
}