header {
    background-color: slategray;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

header a {
    color: #fff;
}

.logo a {
    font-weight: bold;
    font-size: 25px;
}

nav {
    text-align: right;
}

nav a {
    font-size: 18px;
    margin-left: 25px;
}

.active {
    border-bottom: 2px solid #fff;
}